.header-banner {
  height: 450px;
  background-image: url(/images/row-houses.jpg);
  background-position: bottom;
  background-size: cover;
}

.header-text {
  padding: 5px;
  margin-left: 40px;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: grey !important;
}

.home-section {
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.icons-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.slides {
width: 100%;
height: 400px;
}

.carousel-caption {
  margin-bottom: 100px;
}

.featurette-image {
width: 100%;
}

.banner-text {
  color: white;
  padding: 3px;
}

html {
  scroll-behavior: smooth;
}

#map {
  height: 450px;
  width: 100%;
 }

 .drop-down-toggler {
   margin-bottom: 10px;
 }

#footer {
  background-color: #f2f2f2;
}

 @media only screen and (max-width: 786px) {

   .header-banner {
     height: 350px;
     background-image: url(/images/row-houses.jpg);
     background-position: bottom;
     background-size: cover;
   }

}

@media only screen and (max-width: 426px) {

  .header-banner {
    height: 350px;
    background-image: url(/images/row-houses.jpg);
    background-position: bottom;
    background-size: cover;
  }

  .home-section {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
  }

  about.home-section {
    padding-top: 0px;
    margin-top: 3px;
    padding-bottom: 0px;
    margin-bottom: 3px;
  }

  .slides {
    height: 220px;;

    }

  .banner-text {
    padding: 3px;
    font-size: 20px;
  }

  .text-center {
    text-align: middle;
  }

  .carousel-caption {
    margin-bottom: 10px;
    font-size: 14px !important;
  }


}
