body {

}

.header-banner {
  height: 400px;
  background-image: url(/images/gothic-header-1.jpg);
  background-position: bottom;
  background-size: cover;
}

.header-text {
  padding: 5px;
  margin-left: 40px;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: grey !important;
}

.home-section {
  /* padding-top: 15px;
  padding-bottom: 30px; */
  margin-bottom: 30px;
}

.icons-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

#services {
  margin-top: 80px;
  margin-bottom: 45px;
}

#about {
  margin-bottom: 90px;
}

#contact {
  margin-bottom: 70px;
}

.slides {
width: 100%;
height: 400px;
/* -webkit-filter: blur(2px); //change the value according to what suits the best
-moz-filter: blur(2px); //change the value according to what suits the best
-o-filter: blur(2px); //change the value according to what suits the best
-ms-filter: blur(2px); //change the value according to what suits the best
filter: blur(2px); //change the value according to what suits the best */
}

.bg-dark {
  background-color:;
}

.carousel-caption {
  margin-bottom: 100px;
  background-color: #282828;
  opacity: 0.86;
  padding-left: 2%;
  margin-right: 38%;
  padding-bottom: 2%;
  width: 40%;
  border-radius: 20px;
}

.featurette-image {
width: 100%;
}

.banner-text {
  color: white;
  padding: 3px;
}

html {
  scroll-behavior: smooth;
}

.banner-text-p {
  font-size: 24px;
}

#map {
  height: 450px;
  width: 100%;
 }

 .drop-down-toggler {
   margin-bottom: 10px;
 }

#footer {
  background-color: #f2f2f2;
}

 @media only screen and (max-width: 786px) {

   #services {
     margin-top: 60px;
     margin-bottom: 40px;
   }

   #about {
     margin-bottom: 80px;
   }

   #contact {
     margin-bottom: 70px;
   }

   .carousel-caption {
     margin-bottom: 40px;
     background-color: #282828;
     opacity: 0.86;
     padding-left: 2%;
     margin-right: 2%;
     padding-bottom: 2%;
     width: 70%;
     border-radius: 10px;
   }

   .banner-text {
     padding: 3px;
     font-size: 34px;
   }

   .banner-text-p {
     font-size: 24px;
   }


   .header-banner {
     height: 350px;
     background-image: url(/images/gothic-header-1.jpg);
     background-position: bottom;
     background-size: cover;
   }

   .slides {
     height: 300px;
     }

   .home-section {
     padding-top: 0px;
     margin-top: 0px;
     padding-bottom: 0px;
     margin-bottom: 55px;
   }

   about.home-section {
     padding-top: 0px;
     margin-top: 3px;
     padding-bottom: 0px;
     margin-bottom: 3px;
   }

}

@media only screen and (max-width: 426px) {

  #services {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  #about {
    margin-bottom: 60px;
  }

  #contact {
    margin-bottom: 30px;
  }

  .carousel-caption {
    margin-bottom: 10px;
    background-color: #282828;
    opacity: 0.86;
    padding-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
    width: 70%;
    border-radius: 10px;
    font-size: 14px !important;

    /* display: flex; */
    /* margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center; */
  }

  .header-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .header-banner {
    height: 350px;
    background-image: url(/images/gothic-header-1.jpg);
    background-position: bottom;
    background-size: cover;
  }

  .home-section {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
  }

  about.home-section {
    padding-top: 0px;
    margin-top: 3px;
    padding-bottom: 0px;
    margin-bottom: 3px;
  }

  .slides {
    height: 220px;;

    }

  .banner-text {
    padding: 3px;
    font-size: 18px;
  }

  .text-center {
    text-align: middle;
  }


}
